$primary: teal;
$danger: purple;
$secondary: #161c2b;
@import "~bootstrap/scss/bootstrap";

body {
  background: #e4e4e4;
  color: darkblue;
  font-family: sans-serif;
}

.modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: rgba(0,60,60,0.8);
  z-index: 999;
  .drag-area {
    min-width: 50vw;
    background: $primary;
    border: 2px dashed #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    * {
      pointer-events: none;
    }
    img.upload {
      width: 120px;
    }
    header{
      font-size: 30px;
      font-weight: 500;
      color: #fff;
    }
    span{
      font-size: 25px;
      font-weight: 500;
      color: #fff;
      margin: 10px 0 15px 0;
    }
    button{
      pointer-events: initial;
      padding: 10px 25px;
      font-size: 20px;
      font-weight: 500;
      border: none;
      outline: none;
      background: #fff;
      color: $primary;
      border-radius: 5px;
      cursor: pointer;
      &.secondary {
        margin-top: 10px;
        border: 2px solid white;
        background: teal;
        color: white;
        &:hover {
          background: #004e4e;
        }
      }
    }
  }
  .drag-area.active{
    border: 2px solid #fff;
  }
}

.navbar-container {
  height: 10vh;
  &.navopen {
    min-height: 10vh;
    height: auto;
  }
  @media screen and (min-width: 768px) {
    height: 8vh;
  }
  .nav-item {
    margin-bottom: 8px;
    @media screen and (min-width: 768px) {
      margin-bottom: 0;
    }
    button {
      @media screen and (min-width: 768px) {
        cursor: pointer;
        opacity: 0.5;
        &:hover {
          opacity: 1;
        }
      }
      &.disabled {
        opacity: 0.5;
        cursor: initial;
      }
    }
    .icon {
      margin-right: 6px;
      max-width: 50px;
      @media screen and (min-width: 768px) {
        width: 25px;
      }
    }
  }
}

button.mobile {
  font-size: 50px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  &.quit {
    width: 60px;
    height: 60px;
    z-index: 6; /* Display in front of editor */
    top: 0;
    right: 0;
    color: #ec89ec;
  }
  &.add {
    z-index: 4; /* Display in front of dashboard but hide behind of editor */
    right: 16px;
    bottom: 15px;
    width: 80px;
    height: 80px;
    color: #8afff4;
    box-shadow: -7px 7px 13px 0px rgba(39,171,171,0.5);
  }
}

.main-wrapper {
  @media screen and (min-width: 768px) {
    margin-bottom: 6px;
  }
}

.dashboard {
  .search {
    height: 10vh;
  }
  .results {
    height: 80vh;
    overflow-y: auto;
    padding-bottom: 100px;
    @media screen and (min-width: 768px) {
      height: 81vh;
      /* Tamaño del scroll */
      &::-webkit-scrollbar {
        width: 8px;
      }

       /* Estilos barra (thumb) de scroll */
      &::-webkit-scrollbar-thumb {
        background: #ccc;
        border-radius: 4px;
      }

      &::-webkit-scrollbar-thumb:active {
        background-color: #999999;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: #b3b3b3;
        box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
      }

       /* Estilos track de scroll */
      &::-webkit-scrollbar-track {
        background: #e1e1e1;
        border-radius: 4px;
      }

      &::-webkit-scrollbar-track:hover,
      &::-webkit-scrollbar-track:active {
        background: #d4d4d4;
      }
    }
    .card {
      border-radius: 50rem;
      @media screen and (min-width: 768px) {
        border-radius: 15px;
      }
      .photo {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        object-fit: cover;
        background: #ffe0e0;
        @media screen and (min-width: 768px) {
          height: 200px;
          width: auto;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
          border-top-left-radius: inherit;
          border-top-right-radius: inherit;
        }
        @media screen and (min-width: 1400px) {
          height: 220px;
        }
      }
      .card-body {
        padding: 0 5px;
        .card-title {
          font-weight: bold;
          color: #13283a;
        }
        .card-text {
          color: #526677;
        }
        button.edit {
          width: 40px;
          opacity: 0.4;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
    .no-contacts {
      background: rgba(79,98,125,0.55);
      border-radius: 15px;
      color: aliceblue;
    }
  }
  .background-chooser {
    height: 90vh;
    padding-bottom: 40px;
    @media screen and (min-width: 768px) {
      height: 91vh;
      padding-bottom: 0;
    }
    .sample {
      width: 100%;
      height: 200px;
      object-fit: cover;
      @media screen and (min-width: 768px) {
        height: 150px;
      }
      @media screen and (min-width: 1200px) {
        height: 280px;
      }
    }
    .options {
      overflow-y: auto;
    }
    input[type="radio"] {
      display: none;
    }
    input[type="radio"] ~ .content:hover {
      cursor: pointer;
    }
    input[type="radio"]:checked ~ .content {
      background: $secondary;
      color: #c5c5c5;
    }
    input[type="radio"]:checked ~ .content {
      background: $secondary;
      color: #c5c5c5;
    }
    input[type="radio"]:not(:checked) ~ .content:hover {
      background: #333a4c;
      color: #c5c5c5;
    }
  }
}

aside {
  margin: 5px;
  @media screen and (max-width: 767px) {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    min-height: 100vh;
    width: 100vw;
    background: white;
    margin: 0;
    padding: 0 15px;
  }
  @media screen and (min-width: 992px) {
    width: 100%;
  }
  input.invalid {
    box-shadow: 0px 0px 0px 2px #ff7272;
    border-color: #cc6262;
    &:focus {
      box-shadow: 0px 0px 0px 2px #ff7272;
      border-color: #cc6262;
    }
  }
  .photo-container {
    position: relative;
    background: #e0ebff;
    img {
      width: 100%;
      height: 60vw;
      object-fit: cover;
      @media screen and (min-width: 768px) {
        height: 27vh;
      }
    }
    .photo-tooltip {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      p {
        pointer-events: none;
        visibility: hidden;
        background: rgba(79,98,125,0.7);
        border-radius: 15px;
        color: aliceblue;
        padding: 10px;
      }
    }
    &:hover, &.active {
      .photo-tooltip p {
        visibility: visible;
      }
    }
  }
}

footer {
  p {
    font-size: 14px;
    @media screen and (min-width: 768px) {
      font-size: 10px;
    }
    @media screen and (min-width: 992px) {
      font-size: 14px;
    }
  }
}
.w-sm-auto {
  @media screen and (min-width: 576px) {
    width: auto !important;
  }
}

.default-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background: rgba(12,57,200,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    background: rgb(12,57,170);
    color: white;
    font-size: 40px;
    border-radius: 15px;
  }
}
.inline-loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  @media screen and (min-width: 768px) {
    height: 92vh;
  }
}
