$primary: teal;
$danger: purple;
$secondary: #161c2b;
@import "~bootstrap/scss/bootstrap";

body {
  background: #e4e4e4;
  color: darkblue;
  font-family: sans-serif;
}

.icon {
  max-width: 50px;
  cursor: pointer;
}
.icon.disabled {
  opacity: 0.5;
  cursor: initial;
}

.modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: rgba(0,60,60,0.8);
  z-index: 999;
}
.drag-area{
  min-width: 50vw;
  background: $primary;
  border: 2px dashed #fff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
}
.drag-area.active{
  border: 2px solid #fff;
}
.drag-area {
  img.upload {
    width: 120px;
  }
  header{
    font-size: 30px;
    font-weight: 500;
    color: #fff;
  }
  span{
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    margin: 10px 0 15px 0;
  }
  button{
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    background: #fff;
    color: $primary;
    border-radius: 5px;
    cursor: pointer;
  }
}

.navbar-container {
  height: 12vh;
}

.dashboard {
  .search {
    height: 10vh;
  }
  .results {
    height: 77vh;
    overflow-y: auto;
    .card {
      border-radius: 15px;
    }
    .no-contacts {
      background: rgba(79,98,125,0.55);
      border-radius: 15px;
      color: aliceblue;
    }
  }
  .background-chooser {
    height: 87vh;
    .sample {
      height: 280px;
      object-fit: cover;
    }
    .options {
      overflow-y: auto;
    }
    input[type="radio"] {
      display: none;
    }
    input[type="radio"] ~ .content:hover {
      cursor: pointer;
    }
    input[type="radio"]:checked ~ .content {
      background: $secondary;
      color: #c5c5c5;
    }
    input[type="radio"]:checked ~ .content {
      background: $secondary;
      color: #c5c5c5;
    }
    input[type="radio"]:not(:checked) ~ .content:hover {
      background: #333a4c;
      color: #c5c5c5;
    }
  }
}

